<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">You've Discovered The Secret!</h1>
    <h3>Here's a cute cat pics for you</h3>
    <div>
      <img src="images/cat_image.jpg" alt="">
    </div>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>