
body {
  background-color: skyblue;
}

.jumbotron {
  background-color: skyblue;
}
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.explanations_header {
  padding-top: 7.5%;
}

.explanation {
  text-align: left;
}

.table {
  margin-left: auto;
  margin-right: auto;
}
